* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.grid-row {
    display: flex;
}

.grid-element {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: white;
}

.grid-element:hover {
    background-color: lightgray;
}

.grid-element.marked {
    background-color: black;
}

.grid-element.start {
    background-color: green;
    border: 1px solid green;
}

.grid-element.target {
    background-color: red;
    border: 1px solid red;
}

.grid-element.path {
    background-color: cyan;
}

.control-panel {
    margin: 10px;
}
