* {
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.grid-row {
    display: flex;
}

.grid-element {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: white;
}

.grid-element:hover {
    background-color: lightgray;
}

.grid-element.wall {
    background-color: black;
}

.grid-element.start {
    background-color: green;
    border: 1px solid green;
}

.grid-element.target {
    background-color: red;
    border: 1px solid red;
}

/* .grid-element.path {
    background-color: cyan;
} */

.fade-enter {
    background-color: "initial";
}

.fade-enter-active {
    background-color: "initial";
    transition: 500ms linear;
}

.fade-enter-done {
    background-color: cyan;
}

.control-panel {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.control-panel .button {
    margin: 10px;
}
